@import '@global-styles-assets/all.scss';
@import '@app/styles/assets/all.scss';

@media #{$desktop} {
  .wrapper {
    position: relative;
    margin-top: calc($carousel-center-top - ($carousel-circle-diameter/2));
    padding: 0;
    padding-bottom: 40px;
  }

  .slider {
    height: $carousel-circle-diameter;
  }

  .bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .circle {
      position: relative;
      height: 100%;
      width: auto;
      aspect-ratio: 1;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;

        border: 1px solid $dark-opacity-color;
        border-radius: 100%;
      }
    }
  }
}
