@import '@global-styles-assets/all.scss';
@import '@app/styles/assets/all.scss';

.wrapper {
  position: relative;
  padding-top: 20px;

  &::before {
    content: '';
    position: absolute;
    inset: 0 $mobile-app-content-padding;
    border-top: 1px solid $grey-color;
  }
}

.slider {
  min-height: 114px;
}
