$screen: "only screen";

$min-width-device: 320px;
$max-width-device: 5920px;

// 

$mobile-start: $min-width-device;
$mobile-end: 1440px;

$desktop-start: $mobile-end;
$desktop-end: $max-width-device;

// 

$mobile: "#{$screen} and ( min-width: #{$mobile-start})";
$non-mobile-320: "#{$screen} and (max-width: #{$mobile-start})";
$mobile-only: "#{$mobile} and (max-width: #{$mobile-end})";

$desktop: "#{$screen} and (min-width: #{$desktop-start})";
$non-desktop-1440: "#{$screen} and (max-width: #{$desktop-start})";
$desktop-only: "#{$desktop} and (max-width: #{$desktop-end})";

// 

:export {
    mobile: $mobile;
    desktop: $desktop;
}
