@import '@global-styles-assets/all.scss';

@import 'swiper/css';
@import 'swiper/css/bundle';
@import 'swiper/css/pagination';
@import 'swiper/css/effect-fade';

.swiper {
    position: relative;
}

.swiper-wrapper {
    min-width: fit-content;
    display: flex;
    align-items: stretch;
}

.swiper-pagination {
    position: absolute;
    bottom: 18px !important;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 10px !important;

    overflow: visible;
    pointer-events: none;

    .swiper-pagination-bullet {
        margin: 0 !important;
        height: 6px;
        width: auto;
        aspect-ratio: 1;

        border-radius: 100%;
        background-color: $dark-color;
        opacity: 0.4;
        pointer-events: auto;

        &-active {
            opacity: 1;
        }
    }
}

@media #{$desktop} {
    .swiper {
        .swiper-pagination {
            display: none;
        }
    }
}
